.portfolio-buttons-list {
  @extend %list;

  display: flex;
  // flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  @media screen and(max-width: 767px) {
    min-height: 91px;
    align-content: space-between;
    justify-content: left;
    flex-wrap: wrap;
  }
}
.portfolio-buttons-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
.portfolio-buttons-list__button {
  @extend %button;

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}
