.portfolio-works-list {
  @extend %list;

  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-bottom: -30px;
}
.portfolio-works-list__item {
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and(max-width: 767px) {
    width: 480px;
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    flex-basis: calc((100% - 60px) / 2);

    &:first-child .portfolio-works-list__text {
      margin-bottom: 36px;
    }
  }

  @media screen and(min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.portfolio-works-list__link {
  display: inline-block;
  width: 100%;
  // height: 100%;
  transition: box-shadow 250ms $cubic;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
.portfolio-works-list__image-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-works-list__image {
  display: block;
  max-width: 100%;
  // height: auto;
}
.portfolio-works-list__text-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform 250ms $cubic;

  .portfolio-works-list__link:hover &,
  .portfolio-works-list__link:focus & {
    transform: translateY(0%);
  }
}
.portfolio-works-list__hover-text {
  font-size: 16px;
  line-height: 1.88;

  color: $main-background-color;
}
.portfolio-works-list__item-context {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio-works-list__title {
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: $secondary-text-color;
}
.portfolio-works-list__text {
  font-size: 16px;
  line-height: 1.88;
}
